4-20mA-Dashboard.json
[{"id":"98390c19.2ad7a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e931040f.8dca48","type":"ncd-gateway-node","z":"98390c19.2ad7a8","name":"","connection":"3a674906.5b9e76","unknown_devices":0,"outputs":1,"x":330,"y":340,"wires":[["f3ad26e4.6dedd8"]]},{"id":"812cabf3.0497e","type":"ui_chart","z":"98390c19.2ad7a8","name":"","group":"bf4b680d.330948","order":3,"width":6,"height":6,"label":"Readings(mA)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"4","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":940,"y":320,"wires":[[]]},{"id":"e888ee39.05cf88","type":"ui_gauge","z":"98390c19.2ad7a8","name":"","group":"bf4b680d.330948","order":1,"width":6,"height":6,"gtype":"gage","title":"Current","label":"mA","format":"{{value}}","min":"4","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":360,"wires":[]},{"id":"598697fc.9c99","type":"change","z":"98390c19.2ad7a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sensor_data.mA","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":340,"wires":[["812cabf3.0497e","e888ee39.05cf88","f635cc57.c8f6f8"]]},{"id":"f3ad26e4.6dedd8","type":"switch","z":"98390c19.2ad7a8","name":"","property":"payload.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"48","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":340,"wires":[["598697fc.9c99"]]},{"id":"f635cc57.c8f6f8","type":"function","z":"98390c19.2ad7a8","name":"Convert to Real World Value","func":"//Here we will simulate the 4-20mA input being connected to a 0-100PSI sensor.  \n//So we will convert the 4-20mA reading to PSI\n\n//Here you can change the range of the sensor connected.  In this example it's a 100PSI sensor.  \n//Change for your specific sensor.\nvar fullScaleRange = 100;\nvar mA = msg.payload;\n\nmsg.payload = (((mA - 4.00)/16.00)*fullScaleRange).toFixed(2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":400,"wires":[["505457ac.6d3568","8821e5a3.9a1c6"]]},{"id":"505457ac.6d3568","type":"ui_gauge","z":"98390c19.2ad7a8","name":"","group":"bf4b680d.330948","order":2,"width":6,"height":6,"gtype":"gage","title":"PSI Reading","label":"PSI","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1230,"y":400,"wires":[]},{"id":"8821e5a3.9a1c6","type":"ui_chart","z":"98390c19.2ad7a8","name":"","group":"bf4b680d.330948","order":4,"width":6,"height":6,"label":"Readings(PSI)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1240,"y":440,"wires":[[]]},{"id":"3a674906.5b9e76","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"/dev/ttyS1","baudRate":"115200","pan_id":"7FFF","rssi":false},{"id":"bf4b680d.330948","type":"ui_group","name":"MA UI","tab":"232ca29.3b845de","order":1,"disp":true,"width":12,"collapse":false},{"id":"232ca29.3b845de","type":"ui_tab","name":"MA UI","icon":"dashboard","disabled":false,"hidden":false}]